
@{
    var records = ViewData["records"] as List<ApplicationRecordModel>;
    ViewData["Title"] = "Historical Applications";
}

<h2>Historical Applications</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Card Shown</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in records)
        {
            <tr>
                <td>@record.UserName</td>
                <td>@record.Date</td>

                @if (@record.CardName != null)
                {
                    <td>@record.CardName</td>
                }
                else
                {
                    <td>None Shown</td>
                }
            </tr>
        }
    </tbody>
</table>

