@{
    ViewData["Title"] = "Apply for a card";
}

<div id="application-form-container">
    <br />
    <h3>Apply for a Credit Card today!</h3>
    <form action="/Apply/SendApplication" method="post">
        <div style="display:flex; flex-direction:column;">
            <div class="form-group">
                <label for="name">Full name:</label>
                <input class="form-control" type="text" name="name" placeholder="Type your name here..." />
            </div>
            <div class="form-group">

                <label for="dob">Date of Birth: </label>
                <input class="form-control" type="date" name="dob" />
            </div>
            <div class="form-group">
                <label for="dob">Salary:</label>
                <input class="form-control" type="number" name="salary" placeholder="Annual Salary (£)" />
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit Application" title="Apply for credit card" />
    </form>

</div>
