@{
    ViewData["Title"] = "Application";
}

<div id="application-form-container">
    <form action="/Apply/SendApplication" method="post">
        <input type="text" name="name" />
        <input type="date" name="dob" />
        <input type="number" name="salary" />

        <input type="submit" value="Submit Application" />
    </form>

</div>
